.contato_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    padding-bottom: 4.5em;
}

.contato_container h1 {
  margin-bottom: 0.2em;
  font-size: 2em;
}

.contato_container p {
  margin-bottom: 2em;
  color: #555;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  text-align: left;
}

.form_group label {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.form_group input,
.form_group textarea {
  padding: 1.5em;
  border-radius: 10px;
  border: none;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.btn {
  background-color: #222;
  color: #fff;
  padding: 0.7em 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ffbb33;
  color: #222;
}
