.newProject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newProject_cotainer h1 {
    margin-bottom: 0.5em;
}

.newProject_container p {
    color: #7b7b7b;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;           /* espaço entre cards */
  align-items: stretch;
}