.navbar {
    
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end; /* tela cheia: itens à direita */
  padding: 0;
  margin: 0;
}

.item {
    margin-right: 1em;

}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}